#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




/* Estilos componentes */
.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.item {
  width: 350px;
  height: auto;
  border: solid 2px rgba(180, 180, 180, 0.2);
  border-radius: 24px;
  margin: 20px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 20px 4px rgba(180, 180, 180, 0.2);
  justify-content: flex-end;
}

.item:hover {
  box-shadow: 2px 4px 20px 4px rgba(0, 0, 0, 0.20);
}


.item .titulo {
  margin: 8px 0;
  font-size: 16px;
  font-weight: bold;
}

.item .precio {
  margin: 8px 0;
  font-size: 32px;
  font-weight: bold;
}

.item .link {
  width: 100%;
  text-decoration: none;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  border: solid 2px rgba(180, 180, 180, 0.2);
  color: rgb(255, 255, 255);
}

.item .link:hover {
  cursor: pointer;
  background-color: rgba(180, 180, 180, 0.2);
  border: solid 2px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.image {
  object-fit: contain;
  object-position: center;
  height: 400px;
}



.item-detail{
  display: flex;
  justify-content: center;
  padding: 4%;
}

.item-detail .imagen{
  width: 40%;
  border: solid 2px rgba(180, 180, 180, 0.2);
  border-radius: 24px;
}

.item-detail .texto{
  width: 50%;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.item-detail .texto h2{
  font-size: 32px;
  font-weight: bold;
}

.item-detail .texto p{
  font-size: 16px;
}

.item-detail .texto .precio{
  font-size: 24px;
  font-weight: bold;
}


.item-detail .button-terminar{
  width: 200px; 
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: white ;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  margin-bottom: 20px;
}

.controles{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
}

.terminar{
  width: 100%;
}

.item-count{
  width: 200px;
}

.CartWidget {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.CartWidget p{
  margin-top:revert;
  padding-left: 10px;
}

.navbar-nav{
  align-items:flex-start;
}


.navbar-brand img{
  width: 100px;
  height: auto;
}

.saludo{
  font-size: 48px;
  font-weight: bold;
  padding-top: 16px;
}


.TituloError{
  font-size: 48px;
  font-weight: bold;
  padding-top: 16px;
}

.item-list-container{
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}


.button_primary {
  width: auto;
  text-decoration: none;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  border: solid 2px rgba(180, 180, 180, 0.2);
  color: rgb(255, 255, 255);
  margin-top:6px
}

.button_primary:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 2px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}



.button_secondary {
  width: auto;
  text-decoration: none;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(98, 98, 98, 0.2);
  border: solid 2px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  margin-top:6px
}

.button_secondary:hover {
  cursor: pointer;
  background-color: rgb(98, 98, 98);
  border: solid 2px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
}


.total {
  display: flex;
  flex-direction: column;
  align-items: center;
}


ul {
  list-style:none;
}

li {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.detail {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 50%;
  text-align: left;
}


.imagedetail{
  height: auto;
  width: 50%;
}


.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}


form{
  width: 25%;
}








@media only screen and (max-width: 768px) {
  .item-detail{
    display: flex;
    justify-content: center;
    padding: 4%;
    flex-direction: column;
    align-items: center;
  }


  .item-detail .texto{
    width: 100%;
  }

  .item-detail .imagen{
    width: 100%;
  }

  .item-count{
    width: 100%;
  }

  li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 0 16px;
    text-align: center;
  }
  
  
  .imagedetail{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  ul{
    padding-left: 0;
  }

  .total {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 16px;
    width: 100%;
  }

  
  .button_primary {
  width: 100%;
  }

  .button_secondary {
    width: 100%;
  }

  form{
    width: 100%;
  }
  
  .formulario{
    width: 100%;
    padding: 0;
  }
}
